* {
    margin: 0;
    padding: 0;
}
#container {
    background-color: aqua;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    border: 15px green;
    color: black;
    font-size: 50px;
    padding: 25px;
    height: 100px;
    width: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
